* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background: #17181a;
  overflow-x: hidden;
  position: relative;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  margin: 1rem 4rem;
  z-index: 2;
  position: relative;
}
main {
  position: absolute;
}
header h1 {
  color: #ffffff;
  text-decoration: underline;
}
.burger-menu {
  cursor: pointer;
  pointer-events: all;
  z-index: 2;
  position: relative;
}
.burger-menu > div {
  height: 0.2rem;
  width: 2rem;
  margin: 0.5rem 0;
  background: #ffffff;
  pointer-events: none;
}
.nav-sec {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100%-10%);
}
.nav-sec li {
  margin: 2rem 0;
  font-size: 2rem;
}
.nav-sec ul {
  flex-basis: 25rem;
}
.nav-sec .contact {
  flex-basis: 25rem;
}
.nav-sec li a {
  color: #17181a;
}
.nav-sec .contact h1 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}
.nav-sec .contact p {
  line-height: 1.4;
}
.swipers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  right: 0 !important;
  color: white;
  background: #17181a;
}
.swipers .sec-image {
  flex: 1;
  flex-basis: 40%;
  position: relative;
  overflow: hidden;
}
.swipers .sec-image img {
  width: 100%;
  height: 100%;
}
.swipers .content {
  flex: 1;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  color: rgb(230, 223, 225);
  position: relative;
  overflow: hidden;
}
.swipers .content h1 {
  margin-bottom: 2rem;
  font-size: 3.2rem;
}
.forest-swipe {
  color: coral;
}
.hike-swipe {
  color: palegreen;
}
.fashion-swipe {
  color: palevioletred;
}
.swipers .content p {
  line-height: 1.4;
  margin-bottom: 2rem;
}
.swipers .content a {
  color: #e9e7e7;
  padding: 1rem 2rem;
  border: 1px solid #ffffff;
  align-self: baseline;
}
.img-overlay,
.content-overlay {
  position: absolute;
  top: -15%;
  width: 100%;
  height: 150%;
  left: 0;
  background: #17181a;
}
.scrollmagic-pin-spacer {
  position: static !important;
}
.cursor {
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
  pointer-events: none;
  transition: 0.5s all ease;
  transition-property: transform;
  transform-origin: 100% 100%;
}
.cursor.active-btn {
  transform: scale(2);
  background: #ffffff;
}
.nav-active {
  transform: scale(2);
  background-color: rgb(61, 61, 167);
}
.cursor-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}
.tswipe-1 {
  background-color: coral;
}
.tswipe-2 {
  background: palegreen;
}
.tswipe-3 {
  background: palevioletred;
}
.scrollmagic-pin-spacer {
  position: static !important;
}
.title {
  position: relative;
  overflow: hidden;
}
body.hide {
  overflow: hidden;
}
/* Fashion Page */
.fashion-slides {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  right: 0 !important;
}
.fashion-slides .content-img {
  flex-basis: 30%;
  position: relative;
}
.fashion-slides img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: top;
}
.fashion-slides .content {
  color: #ffffff;
  flex-basis: 70%;
  padding-right: 3.5rem;
}
.fashion-slides .content h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.fslide-1 h1 {
  color: coral;
}
.fslide-2 h1 {
  color: palegreen;
}
.fslide-3 h1 {
  color: palevioletred;
}
.slider-no {
  position: absolute;
  left: 50%;
  top: 60%;
  font-size: 10rem;
  color: #ffffff;
  opacity: 0.2;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transform: translateY(-100%);
}
.color-1 {
  background: rgb(219, 44, 219);
  z-index: 5;
}
.color-2 {
  background: rgb(27, 27, 158);
  z-index: 4;
}
.color-3 {
  background: rgb(192, 140, 44);
  z-index: 3;
}
@media (max-width: 767px) {
  .swipers {
    flex-direction: column;
    padding: 0 15px;
    max-width: 100%;
  }
  br {
    display: none;
  }
  .swipers .content {
    padding: 20px 0;
  }
  .swipers .content {
    flex-basis: 100%;
  }
  .swipers .sec-image img {
    height: auto;
  }
  .swipers .content h1 {
    font-size: 2.2rem;
  }
  header {
    margin: 1rem;
  }
  .nav-sec ul {
    width: 100%;
    flex-basis: 9rem;
  }
  .nav-sec .contact {
    flex-basis: 10rem;
  }
  .nav-sec ul,
  .nav-sec .contact {
    padding: 0 20px;
  }
  .nav-sec {
    flex-direction: column;
  }
  .fashion-slides {
    flex-direction: column-reverse;
  }
  .fashion-slides .content {
    padding: 20px 0;
  }
  .fashion-slides .content h1 {
    font-size: 2.2rem;
  }
  .fashion-slides img {
    height: auto;
  }
}
